.default_narrative_modal_skip_button {
    @media (max-width: 767px) {
        margin-right: 16px !important;
        font-size: 22px !important;
    }
}

.default_narrative_modal_pass_button {
    @media (max-width: 767px) {
        margin-right: 16px !important;
        height: 48px !important;
        margin-bottom: 16px !important;
    }
}
