.trail_container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-size: cover;
}


.container {
    @media (max-width: 767px) {
        position: absolute;
        margin: 0 auto;
        overflow-x:scroll;
        overflow-y: hidden;
        width: 100%;
        height: 100dvh;
    }
}

.wrapper {
    @media (max-width: 767px) {
        display: flex;
        width: 1500px;
    }
}

.trail_container_video_background {
    @media (max-width: 767px) {
        position: relative !important;
        object-fit: fill !important;
    }
}

.trail_items_container {
    @media (max-width: 767px) {
        margin: 0 !important;
    }
}
