.register_container {
    @media (max-width: 767px) {
        width: 100% !important;
        height: 100dvh !important;
        padding: 80px 16px 24px 16px !important;
    }
}

.register_container_input_group {
    @media (max-width: 767px) {
        width: 100% !important;
    }
}

.register_container_input_group_text {
    @media (max-width: 767px) {
        margin-top: 24px !important;
    }
}

.register_container_input_group_input {
    @media (max-width: 767px) {
        font-size: 14px !important;
        height: 49px !important;
        border-radius: 10px !important;
    }
}

.register_container_button_container {
    @media (max-width: 767px) {
        width: 100% !important;
    }
}

.register_container_forget_password_container_text {
    @media (max-width: 767px) {
        font-size: 14px !important;
    }
}
