.slider_modal_image {
    @media (max-width: 767px) {
        width: fit-content !important;
        height: 520px !important;
        object-fit: cover;
    }
}

.slider_modal_items_container {
    @media (max-width: 767px) {
        margin-left: 16px !important;
    }
}