.video_modal_container {
    @media (max-width: 767px) {
        margin: 0 !important;
        padding: 0 !important;
        max-height: none !important;
        height: 100vh !important;
    }
}

.video_modal_header_container {
    @media (max-width: 767px) {
        padding: 0 16px !important;
    }
}
.video_modal_header_title {
    @media (max-width: 767px) {
        font-size: 28px !important;
        margin-top: 24px !important;

    }
}

.video_modal_body_container {
    @media (max-width: 767px) {
        padding: 0 16px !important;
    }
}

.video_modal_body_infos_container {
    @media (max-width: 767px) {
        height: 100% !important;
        justify-content: space-between !important;
        padding-bottom: 28px !important;
    }
}
