.profile_data_modal_container {
    @media (max-width: 767px) {
        flex-direction: column !important;
        align-items: flex-start !important;
        margin-top: 28px !important;
        margin-left: 24px !important;
    }
}

.profile_data_modal_container_profile_icon_container {
    @media (max-width: 767px) {
        flex-direction: row !important;
        column-gap: 4px;
    }
}

.profile_data_modal_container_profile_icon_container_icon {
    @media (max-width: 767px) {
        width: 100px !important;
        height: 100px !important;
    }
}

.profile_data_modal_container_info_container {
    @media (max-width: 767px) {
        margin-top: 16px;
        margin-left: 4px !important;
    }
}

.profile_data_modal_container_info_container_render_container {
    @media (max-width: 767px) {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}

.profile_data_modal_container_info_container_render_container_title {
    @media (max-width: 767px) {
        font-size: 18px !important;
    }
}

.profile_data_modal_container_info_container_render_container_input {
    @media (max-width: 767px) {
        margin-left: 2px !important;
    }
}

.profile_data_modal_container_info_container_render_container_text {
    @media (max-width: 767px) {
        margin-left: 4px !important;
        font-size: 18px !important;
    }
}

.profile_data_modal_container_info_container_coins {
    @media (max-width: 767px) {
        position: absolute;
        bottom: 40px;
        left: 32px;
    }
}