.profile_modal_container {
    @media (max-width: 767px) {
        max-height: none !important;
        height: 100dvh !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.profile_modal_header_container {
    @media (max-width: 767px) {
        margin-top: 0 !important;
        padding: 0 !important;
    }
}

.profile_modal_header_container_buttons_container {
    @media (max-width: 767px) {
        justify-content: flex-start !important;
        padding: 40px 0 8px 16px !important;
        column-gap: 8px;
    }
}

.profile_modal_container_body_container {
    @media (max-width: 767px) {
        padding: 0 !important;
    }
}

.profile_modal_container_body_container_background_container {
    height: 99% !important;
}

.profile_modal_container_body_container_background_image {
    width: 100px;
    height: 100px;
}
