.progression_status_modal_progress_container {
    @media (max-width: 767px) {
        flex-direction: column !important;
    }
}

.progression_status_modal_grid_container {
    @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr) !important;
        margin-right: 24px;
        max-height: 100% !important;
        overflow-y: hidden !important;
        column-gap: 32px !important;
        row-gap: 0 !important;
    }
}

.progression_status_modal_grid_container_item {
    @media (max-width: 767px) {
        margin-bottom: 32px;
    }
}